<!doctype html>
<html>
  <head>
    <title>swatlingo: about</title>
    <link rel="icon" href="../static/favicon.png" type="image/png" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <script src="../static/themes.js"></script>
    <div class="container container-header">
      <div class="container">
        <a href="../home">
          <img src="../static/home.svg" alt="home" class="icon" />
        </a>
      </div>
      <img src="../static/swatlingo.svg" alt="swatlingo" class="logo" />
      <!-- <a href="../settings"> -->
      <img
        src="../static/light.svg"
        id="theme-toggle"
        alt="toggle theme"
        class="icon"
        onclick="toggle_theme()"
      />
      <!-- </a> -->
    </div>
    <!-- <div class="spacer"></div> -->
    <div class="container container-about">
      <p class="text text-h4 justify">
        Swatlingo addresses the challenge of students losing language skills
        over the summer break. <br />While maintaining language proficiency
        during the school year is relatively straightforward with classroom
        support, resources, and peer interaction, it becomes more challenging
        when students are at home during the summer. <br />Motivation often
        wanes due to limited access and a lack of incentives. <br />This is a
        critical issue because the loss of language skills can hinder students
        when they return to classes in the next semester. <br />Professors
        typically expect students to continue from where they left off, creating
        a steep learning curve for those without recent exposure. <br />To
        address this problem, we propose this online platform with achievement
        tracking to help students practice their language skills.
        <br />Swarthmore students will have the option to engage in public or
        private chat rooms, or they can interact with an online chatbot if they
        prefer or if there are no other users available.
      </p>
    </div>
    <!-- <div class="spacer"></div> -->
    <div class="container container2">
      <p class="text text-p center">
        Made by Allison, Ark, T, Yana :)<br />
        CS71: Software Engineering, Swarthmore College, Fall 2023
      </p>
    </div>
  </body>
</html>
